*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,rgb(199, 108, 252),rgb(255, 252, 245));
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    background: rgb(42, 41, 43);
    border: 2px rgba(255, 255, 255, 0.123) solid;
    width: 50vh;
    height: 85vh;
    padding: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 5px;
}
.container form{
    width: 40vh;
    height: 70vh;
}
.container:hover{
    background:black;
    transition: 1s;
}
.container h2{
    color: rgb(146, 21, 248);
    text-align: center;
}
input{
    background: none;
    border: none;
    margin: 3vh;
    border-bottom: 1px solid rgba(101, 100, 102, 0.247) ;
    width: 35vh;
    outline: none;
    color: rgb(255, 254, 254);
    padding: 8px;
}
input:hover{
    border-bottom: 1px rgb(230, 222, 222) solid;
    transition: 0.7s;
}
::placeholder:hover{
    color: white;
}
.container .submitbtn{
    background: rgb(146, 21, 248);
    border: none;
    width: 20vh;
    height: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: white;
    font-family: Josefin Sans;
}
.submitbtn:hover{
    background: white;
    color: rgb(0, 0, 0);
    transition: 1s;
    font-weight: bolder;
    cursor: pointer;
}
.resetbtn{
    background: none;
    border: none;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
}
.resetbtn:hover{
    color: rgb(146, 21, 248);
    transition: 0.5s;
    cursor: pointer;
}
.or{
    padding-top: 5vh;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    color: rgb(196, 193, 193);
}
.others{
    width: 35vh;
    height: 10vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    padding: 5vh;
    text-align: center;
}
a{
    text-decoration: none;
    margin: 3vh;
    font-size: 25px;
    color:rgb(146, 21, 248) ;
}
a:hover{
    color: white;
    font-size: 30px;
    transition: 0.5s;
}
p{
    color: rgb(253, 252, 252);
    margin-left: 3vh;
    font-size: 14px;
    margin-top: -0.5vh;
}
