*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: linear-gradient(to left bottom,rgb(236, 240, 7),rgb(151, 240, 7),rgb(136, 236, 22)
    ,rgb(12, 223, 107),rgb(11, 228, 127),rgb(10, 228, 173),rgb(10, 203, 228),rgb(10, 184, 228),rgb(10, 130, 228));
    min-height: 100vh;
}
form{
    background: rgba(116, 113, 113, 0.507);
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    width: 450px;
    height: 680px;
    padding: 75px,50px;
    left: 50%;
    top: 50%;
    transform: translate(115%,2.9%);
    
}
form:hover{
    background: black;
}
h1{
    font-family: Lobster;
    text-align: center;
    font-size: 40px;
    color: white;
    letter-spacing: 3px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    color: white;
    letter-spacing: 5px;
}
.text{
    border-bottom: 2px solid white;
    position: relative;
    margin: 3px,0;
    margin-top: 40px;
}
.text input{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    width: 70%;
}
.email{
    border-bottom: 2px solid white;
    position: relative;
    margin: 3px,0;
    margin-top: 20px;
}
.email input{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    width: 70%;
}
.pswd{
    border-bottom: 2px solid white;
    position: relative;
    margin: 3px,0;
    margin-top: 20px;
}
.pswd input{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    width: 70%;
}
.cpswd{
    border-bottom: 2px solid white;
    position: relative;
    margin: 3px,0;
    margin-top: 20px;
}
.cpswd input{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    width: 70%;
}
.button{
    background: linear-gradient(to left bottom,rgb(12, 223, 107),rgb(11, 228, 127),rgb(10, 228, 173),rgb(10, 203, 228),rgb(10, 184, 228));
    width: 100%;
    height: 45px;
    margin-top: 40px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button:hover{
    color: black;
    background: linear-gradient(to top,grey,rgb(10, 228, 173),rgb(10, 203, 228),rgb(10, 184, 228));
    font-size: 18px;
}
.login{
    color: darkslategray;
    margin-top: 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}
a{
    color: darkslategray;
    font-size: 17px;
    font-weight: bold;
}
a:hover{
    color: white;
}
.divider{
    align-items: center;
    color: darkslategray;
    margin: 50px 0;
    display: flex;
}
.line{
    background-color: darkslategray;
    height: 1px;
    flex-grow: 5;

}
.OR{
    text-align: center;
    flex-grow: 1;
    margin: 0;
}
.google{
    background:none;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    padding: 10px 19px;
    text-align: center;
    align-items: center;
}
.G{
    align-content: center;
    margin-left: 85px;
}
.facebook{
    background:none;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    padding: 10px 19px;
    text-align: center;
    align-items: center;
}
.fb{
    align-content: center;
    margin-left: 85px;
    margin-top: 15px;
}
