*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: white;
    margin: 0px;
    padding: 0px;
    font-family: Copse;
}
.one{
    background: linear-gradient(to right,rgb(245, 57, 57),rgb(253, 161, 22));
    height: 100vh;
}
.navbar{
    background: rgb(36, 39, 39);
    display: inline-block;
    width: 100%;
    height: 9vh;
}
.flag{
    float: left;
    margin: 20px;
    display: block;
}
.navbar a {
    float: left;
    font-family: Copse;
    text-align: right;
    font-size: 16px;
    margin: 25px;
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: rgb(252, 172, 0);
}
.Covid-19 h1{
    color: rgb(253, 223, 167);
    font-size: 40px;
    transform: translate(20%,230px);
}
.Covid-19 h3{
    color: rgb(255, 220, 143);
    font-size: 25px;
    transform: translate(20%,230px);
}
.homeimg{
    width: 35%;
    transform: translate(127%,-10%);
}

